a {
  color: red;
  margin: 10px;
  text-decoration: none;
  border: 2px solid red;
  padding: 10px;
  background-color: aquamarine;
}

.para {
  margin: 50px 0;
  min-height: 300px;
  width: 300px;
  padding: 15px;
}

.first {
  background-color: rgb(205, 205, 235);
}

.second {
  background-color: rgb(183, 214, 162);
}

.third {
  background-color: rgb(231, 180, 191);
}
.crossText {
  text-decoration: line-through;
  color: red;
}

.delete {
  padding: 4px 10px 4px 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: red;
  color: white;
}

.completed {
  padding: 4px 10px 4px 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: green;
  margin-left: 10px;
  color: white;
}

